body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.choices button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    border: 2px solid #007bff;
    background-color: #f0f0f0;
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.choices button:hover {
    background-color: #007bff;
    color: #f0f0f0;
    
}

.results {
    margin-top: 20px;
    font-size: 1.2rem;
}

#result-text {
    font-weight: bold;
    color: #d9534f;
}

.score {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
}